.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.table-responsive {
    table-layout: fixed;
    width:100%;
    border: 1px solid black;
    text-align: center;
}


